{%extends "users/base.html" %}
{% block navi_content %}
    {%include "users/includes/navicontents_admin.html" %}
{% endblock %}
{% block usernavi_content %}
    {%include "users/includes/usernavicontents_admin.html" %}
{% endblock %}

{% block main_content %}
 <div class="content table-responsive table-full-width" >
     <h4>List of Admin</h4>
     <table class="table table-hover table-striped" summary="admin_user_list">
         {% if admin_user_list %}
             <thead>
                                        
             <th>Username</th>
             <th>First Name</th>
             <th>Last Name</th>
             <th>Email Address</th>
             <th style="text-align:center">Edit</th>
             <th style="text-align:center" >Delete</th>
                                        
             </thead>
             <tbody>
             {% for a in admin_user_list %}
                 <tr>
                                            
                     <td><a href="{% url 'display_admin' a.username %}">{{ a.username }}</a></td>
                     <td>{{ a.first_name }}</td>
                     <td>{{ a.last_name }}</td>
                     <td>{{ a.email }}</td>
                     <td style="text-align:center">
                         <a href="{% url 'update_admin_user' request.user.username a.username %}">
                             <div class="font-icon-detail"><i class="pe-7s-note"></i>
                             </div>
                         </a>
                     </td>
                     <td style="text-align:center">
                         <a href="{% url 'delete_user' request.user.username a.username %}">
                             <div class="font-icon-detail"><i class="pe-7s-trash"></i>
                             </div>
                         </a>
                     </td>
                                            
                 </tr>
             {% endfor %}
             </tbody>
         {% else %}
             <p>No admins have been created</p>
         {% endif %}
     </table>
								
     <h4>List of Leader</h4>
     <table class="table table-hover table-striped" summary="leader_user_list">
         {% if leader_user_list %}
             <thead>
                                        
             <th>Username</th>
             <th>First Name</th>
             <th>Last Name</th>
             <th>Email Address</th>
             <th style="text-align:center">Edit</th>
             <th style="text-align:center" >Delete</th>
										
                                        
             </thead>
             <tbody>
             {% for l in leader_user_list %}
                 <tr>
                                            
                     <td><a href="#">{{ l.username }}</a></td>
                     <td>{{ l.first_name }}</td>
                     <td>{{ l.last_name }}</td>
                     <td>{{ l.email }}</td>
                     <td style="text-align:center">
                         <a href="#">
                             <div class="font-icon-detail"><i class="pe-7s-note"></i>
                             </div>
                         </a>
                     </td>
											
                     <td style="text-align:center">
                         <a href="{% url 'delete_user' request.user.username l.username %}">
                             <div class="font-icon-detail"><i class="pe-7s-trash"></i>
                             </div>
                         </a>
                     </td>
											
                                            
                 </tr>
             {% endfor %}
             </tbody>
         {% else %}
             <p>No leaders have been created</p>
         {% endif %}
     </table>
								
								
     <h4>List of Members</h4>
     <table class="table table-hover table-striped" summary="member_user_list">
         {% if member_user_list %}
             <thead>
                                        
             <th>Username</th>
             <th>First Name</th>
             <th>Last Name</th>
             <th>Email Address</th>
             <th style="text-align:center">Edit</th>
             <th style="text-align:center" >Delete</th>
                                        
             </thead>
             <tbody>
             {% for users in member_user_list %}
                 <tr>
                                            
                     <td><a href="#">{{ users.username }}</a></td>
                     <td>{{ users.first_name }}</td>
                     <td>{{ users.last_name }}</td>
                     <td>{{ users.email }}</td>
                     <td style="text-align:center">
                         <a href="#">
                             <div class="font-icon-detail"><i class="pe-7s-note"></i>
                             </div>
                         </a>
                     </td>
                     <td style="text-align:center">
                         <a href="{% url 'delete_user' request.user.username users.username %}">
                             <div class="font-icon-detail"><i class="pe-7s-trash"></i>
                             </div>
                         </a>
                     </td>
                                            
                 </tr>
             {% endfor %}
             </tbody>
         {% else %}
             <p>No members have been created</p>
         {% endif %}
     </table>

</div>
{% endblock%}