<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add New Member</title>
</head>
<body>
<form class="" action="" method="post">
    {% csrf_token %}
    <label for="inputProjectID" class="sr-only">Project ID</label>
    <input type="text" id="inputProjectID" class="form-control" placeholder="Project ID" name="project_id" required>
    <br>
    <label for="inputUsername" class="sr-only">Username</label>
    <input type="text" id="inputUsername" class="form-control" placeholder="Username" name="username" required>
    <br>
    <label for="inputFirstName" class="sr-only">First Name</label>
    <input type="text" id="inputFirstName" class="form-control" placeholder="First Name" name="first_name" required>
    <br>
    <label for="inputLastName" class="sr-only">Last Name</label>
    <input type="text" id="inputLastName" class="form-control" placeholder="Last Name" name="last_name" required>
    <br>
    <label for="inputEmail" class="sr-only">Email</label>
    <input type="email" id="inputEmail" class="form-control" placeholder="Email" name="email" required>
    <br>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="Password" name="password" required>
    <br>
    <label for="inputRoleID" class="sr-only">Role ID</label>
    <input type="text" id="inputRoleID" class="form-control" placeholder="Role ID" name="role_id" required>
    <br>
    <label for="inputBio" class="sr-only">Bio</label>
    <input type="text" id="inputBio" class="form-control" placeholder="Bio" name="bio">
    <br>
    <button type="submit" class="btn btn-success">Submit</button>
</form>
</body>
</html>