{%extends "users/base.html" %}
{% block navi_content %}
    {%include "users/includes/navicontents_admin.html" %}
{% endblock %}
{% block usernavi_content %}
    {%include "users/includes/usernavicontents_admin.html" %}
{% endblock %}

{% block main_content %}
{% block title %}<h4>Users Search</h4>{% endblock %}
    <div class="content" >
        {% if errors %}
            {% for error in errors %}
                <p style="color: red"> {{ error }}</p>
            {% endfor %}
        {% endif %}
        <form action="{% url 'users_search' user.username %}" method="get">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label >First name:</label>
                        <input type="text" class="form-control" placeholder="First Name" name="first_name">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label >Rank:</label>
                        <span class="radio"><input id="id_rank_0" name="adm" type="radio" value="Admin" checked></span><label for="id_rank_0">Admin</label>
                        <span class="radio"><input id="id_rank_1" name="lead" type="radio" value="Leader"></span><label for="id_rank_1"> Leader</label>
                        <span class="radio"><input id="id_rank_2" name="mem" type="radio" value="Member"></span><label for="id_rank_2"> Member</label>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-info btn-fill btnleft" value="Search">Search</button>
        </form>
    </div>
    <div class="content">
        <h4>Search Results</h4>
        You searched for: <b>{{ query }}</b>
        {% include 'users/users_search_results.html' %}
    </div>
{% endblock%}