{%extends "users/base.html" %}
 {% block navi_content %}
		 <ul class="nav">
                <li class="active">
                    <a href="#">
                        <i class="pe-7s-home"></i>
                        <p>Home</p>
                    </a>

                </li>
                <li>
                    <a href="#">
                        <i class="pe-7s-user"></i>
                        <p>Users</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="pe-7s-note2"></i>
                        <p>Projects</p>
                    </a>
                </li>

            </ul>
{% endblock %}
{% block usernavi_content %}
		<ul class="nav navbar-nav navbar-right">

                        <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <p>
										Profile
										<b class="caret"></b>
									</p>
                              </a>
                              <ul class="dropdown-menu">
                                <li><a href="{% url 'update_admin' user.username %}">Edit Profile</a></li>
                                <!-- <li><a href="#">Change Password</a></li> -->

                              </ul>
                        </li>
                        <li>
                            <a href="{% url 'add_admin' user.username %}">
                                <p>Create Admin</p>
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'jump_ship' %}">
                                <p>Log out</p>
                            </a>
                        </li>

                    </ul>


{% endblock %}

{% block main_content %}
	{% csrf_token %}
						<div class="header">
                                <h4 class="title">{{ adminuser.first_name }} {{ adminuser.last_name }}'s Information</h4>
                        </div>
	
	                        <div class="col-md-6">
                            <div class="content table-responsive table-full-width" >

                                <table class="table table-hover table-striped" id="tabledetails">
                                    
                                    <tbody>
                                        <tr> 
                                            <td class="col-xs-3">User Name</td>
                                            <td>{{ adminuser.username }}</td> 
                                        </tr>
                                        <tr> 
                                            <td>First Name</td>
                                            <td>{{ adminuser.first_name }}</td> 
                                        </tr>
                                        <tr> 
                                            <td>Last Name</td>
                                            <td>{{ adminuser.last_name }}</td> 
                                        </tr>
                                        <tr> 
                                            <td>Email</td>
                                            <td>{{ adminuser.email }}</td> 
                                        </tr>
                                        <tr> 
                                            <td>Biography</td>
                                            <td>{{ adminuser.bio }}</td> 
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>

{% endblock %}