{% extends "users/base.html" %}
{% load static %}
 {% block navi_content %}
 
		 <ul class="nav">
                <li class="active">
                    <a href="{% url 'index' %}">
                        <i class="pe-7s-home"></i>
                        <p>Home</p>
                    </a>

                </li>
                <li>
                    <a href="#">
                        <i class="pe-7s-user"></i>
                        <p>Users</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="pe-7s-note2"></i>
                        <p>Projects</p>
                    </a>
                </li>
                
            </ul>
{% endblock %}
{% block usernavi_content %}
		<ul class="nav navbar-nav navbar-right">
                        
                        <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <p>
										Profile
										<b class="caret"></b>
									</p>
                              </a>
                              <ul class="dropdown-menu">
                                <li><a href="#">Edit Profile</a></li>
                                    
                              </ul>
                        </li>
                        <li>
                            <a href="{% url 'jump_ship' %}">
                                <p>Log out</p>
                            </a>
                        </li>
						
            </ul>
		           
				   
{% endblock %}
{% block main_content %}
                        <div class="header">
                                <!-- <h2 class="title">View Project Log</h2> -->
                        </div>
                        <div class="content col-md-10">
                        <h3 id="proj_title">{{project_title | safe}}</h3>
                            {{ log_data | safe }}
                        </div>

<style>

#main-title {
    margin-left: 45%;
    margin-bottom: 30px;
}

.username {
    font-size: larger;
}

.info-class {
    /* background-color: rgba(12, 170, 212, 0.7); */
    color: black;
    background-color: lightsteelblue;
    padding: 5px 55px;
    margin-bottom: 10px;
    border-radius: 20px;
    font-size: 17px;
    font-family: 'Ubuntu', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', sans-serif;
}

.info-class p {
    font-size: larger;
}

.info-class i {
    float: right;
}

.warning-class {
    /*background-color: rgba(212, 40, 50, 0.5);*/
    background-color: rgba(212, 100, 95, 0.9);
    color: black;
    padding: 3px 55px;
    margin-bottom: 10px;
    border-radius: 20px;
    font-size: 17px;
    font-family: 'Ubuntu', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', sans-serif;
}

.warning-class p {
    font-size: larger;
}

.warning-class i {
    float: right;
}

.success-class {
    /*background-color: rgba(212, 40, 50, 0.5);*/
    background-color: darkseagreen;
    color: black;
    padding: 3px 55px;
    margin-bottom: 10px;
    border-radius: 20px;
    font-size: 17px;
    font-family: 'Ubuntu', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', sans-serif;
}

.success-class p {
    font-size: larger;
}

.success-class i {
    float: right;
}

</style>
{% endblock%}